
.slider {
    width: 100vw;
    height: 70vh;
    position: relative;
    overflow: hidden;
  }
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s ease;
  }
  
  .current {
    opacity: 1;
  }
  
  /* ================================================= 
                      buttons
  ==================================================*/
  
  .buttons {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
  }
  .next-btn,
  .prev-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #f1f1f1;
    color: #f1f1f1;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    transition: all 0.3s ease;
  }
  .next-btn {
    position: absolute;
    right: 15px;
  }
  .prev-btn {
    position: absolute;
    left: 15px;
  }
  .next-btn:hover,
  .prev-btn:hover {
    background: #f1f1f1;
    color: black;
  }
  /*================================================ 
                 background images
  ==================================================*/
  
  .slide:first-child {
    background: url("../images/product/img1.jpeg") no-repeat center center/cover;
  }
  .slide:nth-child(2) {
    background: url("../images/product/img2.jpeg") no-repeat center center/cover;
  }
  .slide:nth-child(3) {
    background: url("../images/product/img1.jpeg") no-repeat center center/cover;
  }
  .slide:nth-child(4) {
    background: url("../images/product/img3.jpeg") no-repeat center center/cover;
  }
  
  
  /* ================================================= 
                      responsive 
  ==================================================*/
  @media screen and (max-width: 768px) {
    .slide .content {
      width: 100%;
      bottom: -15%;
      left: 0;
    }
    .slide.current .content {
      opacity: 1;
      transform: translateY(0%);
      left: 0;
      bottom: 0%;
    }
  }

  /* h5{
    text-emphasis: bold;
  } */